<header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
        <div class="row">
        <div class="col-lg-10 mx-auto">
            <img class="img-fluid" src="https://s3.us-east-2.amazonaws.com/atelier-website/Images/pinklogo.svg">
            <!-- <h1 class="text-uppercase">
            <strong>Your Favorite Source of Free Bootstrap Themes</strong>
            </h1> -->
            <!-- <hr> -->
        </div>
        <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5 pink">A creative agency from your brain for your brain</p>
            <%= link_to("View the pitch deck", static_pages_alternate_path, class: 'btn btn-primary btn-primary-pink btn-xl js-scroll-trigger')%>
            <%# <a class="btn btn-primary btn-primary-pink btn-xl js-scroll-trigger" href="alternate.html">View the pitch deck</a> %>
        </div>
        </div>
    </div>
</header>
